        h1{
            text-align: right;
            border: 0.2em solid black;
            background-color: grey;
            font-size: 2.5em;
            margin-bottom: 0.1em;
            margin-right: 3em;
            margin-left: 3em;
            color:#a1a1a1;
            font-family: roboto;
        }
        address{
            text-align: right;
            margin-right: 8em;
            margin-left: 13em;
            font-family: roboto;
        }
        h2,h5{
            text-align: right;
            color:#a1a1a1;
            text-decoration: underline;
            font-size: 2em;
            font-weight: 900;
            font-style: italic;
            letter-spacing: -0.15em;
            word-spacing: 0.25em;
            font-family: roboto;
            margin:0;
            padding-right: 4em;
        }
        table{
            border: 0.5px solid grey;
            margin-left: 52.5em;
        }
        td, th{
            border: 0.5px solid grey;
            font-family: roboto;
        }
        h3{
            text-align: right;
            color:#a1a1a1;
            text-decoration: underline;
            font-size: 2em;
            font-weight: 900;
            margin-right: 0.8em;
            margin-left: 3em;
            font-style: italic;
            letter-spacing: -0.15em;
            word-spacing: 0.25em;
            font-family: roboto;
        }
        div.encompass{
            border: 0.2em solid grey;
            margin-left: 6em;
            margin-right: 6em;
            background-color: #d1d1d1;
        }
        img.imgDiv1{
            border-radius: 25px;
            display: block;
            margin-left: 76.5em;
            margin-right: 0.8em;
            width: 458px;
            height: 283px; 
            opacity:0.9;
        }
        h4{
            text-align: center;
            color:#a1a1a1;
            text-decoration: underline;
            font-size: 2em;
            font-weight: 900;
            font-style: italic;
            letter-spacing: -0.15em;
            word-spacing: 0.25em;
            font-family: roboto;
        } 
        .lista {
            list-style-position: inside;
            text-align: center; 
        } 
        
        .container{
            display: flex;
            margin:0;
            padding:0;
        }  

        .im{
            width: 458px;
            padding-left: 5em;
            padding-right: 5em;
            height: 283px;
            flex: 33.33%;
        }

        .upmost{
            background-color: lightcyan;
            max-width: 110em;
            max-height: 110em;
            margin-left: 30em;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .slideshow-container{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .buttonDiv{
            text-align:center; 
            background-color: lightcyan;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        img.newImg{
            border-radius: 25px;
            width: 900px;
            margin-left: 3em;
            margin-right: 3em;
            height: 450px;
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
          
        .active {
            background-color: lightblue;
        }
          
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        

        
